<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.iamdavesmith.bungle"
        versionCode="10" 
        version   = "1.0.0">

    <name>kidPaint</name>

    <description>
        kidPaint!
    </description>

    <author href="https://iamdavesmith.com" email="d@smiff.co.uk">
        Dave Smith
    </author>

    <preference name="permissions" value="none"/>
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />
    <icon src="img/icon.png" height="96" width="96" />
</widget>